<launch>
  <arg name="base_link" value="base_link"/>
  <arg name="camera" value="velodyne"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="stereo_to_Base_broadcaster" args="0.121 0.035 -0.058 -0.573 0.581 -0.414 0.403 $(arg base_link) stereo_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_to_Base_broadcaster" args="0 0 0 0 0 0 1 $(arg base_link) velodyne" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="Base_to_map_broadcaster" args="0 0 0 0 0 0 1 map $(arg base_link)" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_init_to_world_broadcaster" args="0.015 0.005 0504 0.504 0.493 0.496 0.506 map camera_init" />
  <node name="cloudTransformer" pkg="vfh" type="cloudTransformer" output="screen">
     <param name="sensor_frame" value="$(arg camera)" />
     <param name="base_frame" value="$(arg base_link)" />
     <remap from="/cloudTransformer/inputcloud" to="/velodyne_points"/>
  </node>
  <node name="vfh3d" pkg="vfh" type="VFH3D" output="screen">
     <param name="markerSkip" value="5" type="int"/>

     <param name="HREZ" value="180" type="int"/>
     <param name="VREZ" value="90" type="int"/>

     <param name="queueSize" value="10" type="int"/>
     <param name="skipFrames" value="0" type="int"/>

     <param name="areaRestricter" value="0" type="double"/>
     <param name="heightSplitter" value="0" type="double"/>
     <param name="minDistRejFilterVal" value="1" type="double"/>
     <param name="voxelSize" value="0.2" type="double"/>

     <param name="uniformGrid" value="false" type="bool"/>
     <param name="voxelUniformSize" value="0.075" type="double"/>

     <param name="box" value="false" type="bool"/>
     <param name="boxSizeX" value="9" type="int"/>
     <param name="boxSizeY" value="3" type="int"/>

     <param name="blur" value="false" type="bool"/>
     <param name="blurSizeX" value="3" type="int"/>
     <param name="blurSizeY" value="1" type="int"/>
     <param name="blurSigmaX" value="0" type="double"/>
     <param name="blurSigmaY" value="0" type="double"/>

     <param name="median" value="true" type="bool"/>
     <param name="medianSize" value="3" type="int"/>

     <param name="intensityOffset" value="-745.0" type="double"/>

     <param name="dilate" value="true" type="bool"/>
     <param name="dilationIterations" value="3" type="int"/>

     <param name="erode" value="false" type="bool"/>
     <param name="erosionIterations" value="1" type="int"/>

     <param name="showTiming" value="false" type="bool"/>
     <param name="showDebugMessages" value="false" type="bool"/>

     <remap from="/vfh3d/odometry" to="/integrated_to_init_CORRECTED"/>
  </node>
</launch>
