<launch>
  <param name="OdometryInput" value="integrated_to_init_CORRECTED" type="string"/>
  <param name="CloudInput" value="velodyne_points" type="string"/>
  <param name="CloudOutput" value="window_points" type="string"/>

  <param name="HREZ" value="180" type="int"/>
  <param name="VREZ" value="90" type="int"/>

  <param name="queueSize" value="10" type="int"/>
  <param name="skipFrames" value="0" type="int"/>

  <param name="areaRestricter" value="0" type="double"/>
  <param name="heightSplitter" value="0" type="double"/>
  <param name="minDistRejFilterVal" value="1" type="double"/>
  <param name="voxelSize" value="0.05" type="double"/>

  <param name="uniformGrid" value="false" type="bool"/>
  <param name="voxelUniformSize" value="0.075" type="double"/>

  <param name="box" value="false" type="bool"/>
  <param name="boxSizeX" value="9" type="int"/>
  <param name="boxSizeY" value="3" type="int"/>

  <param name="blur" value="false" type="bool"/>
  <param name="blurSizeX" value="3" type="int"/>
  <param name="blurSizeY" value="1" type="int"/>
  <param name="blurSigmaX" value="0" type="double"/>
  <param name="blurSigmaY" value="0" type="double"/>

  <param name="median" value="true" type="bool"/>
  <param name="medianSize" value="3" type="int"/>

  <param name="intensityOffset" value="-745.0" type="double"/>

  <param name="dilate" value="true" type="bool"/>
  <param name="dilationIterations" value="3" type="int"/>

  <param name="erode" value="false" type="bool"/>
  <param name="erosionIterations" value="1" type="int"/>

  <param name="showTiming" value="false" type="bool"/>
  <param name="showDebugMessages" value="false" type="bool"/>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="sensor_to_Odom_broadcaster" args="0.121 0.035 -0.058 -0.573 0.581 -0.414 0.403 odom stereo_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="Odom_to_Window_broadcaster" args="0 0 0 0 0 0 1 map body" />
  <node name="cloudTransformer" pkg="vfh" type="cloudTransformer" output="screen" args="map body" />
  <node name="vfh3d" pkg="vfh" type="VFH3D" output="screen" />
</launch>
