<launch>
  <param name="HREZ" value="120" type="int"/>
  <param name="VREZ" value="10" type="int"/>
  <param name="areaRestricter" value="20.0" type="double"/>
  <param name="queueSize" value="5" type="int"/>
  <param name="skipFrames" value="4" type="int"/>
  <param name="voxelSize" value="0.06" type="double"/>
  <param name="showTiming" value="true" type="bool"/>
  <param name="showDebugMessages" value="false" type="bool"/>
  <node name="vfh3d" pkg="vfh" type="VFH3D" output="screen" />
</launch>
